/* GRID LIMITS */


/* LIMITING GRID SPACING */

.grid {
  &.grid--no-spacing {
    margin-left: 0;
    margin-top: 0;

    > .grid__item {
      margin-top: 0;
      padding-left: 0;

      * + & {
        margin-top: 0;
      }
    }

    * + & {
      margin-top: $layout-large;
    }
  }

  &.grid--tight-spacing {
    margin-left: -$layout-tight;
    margin-top: - $layout-tight;

    > .grid__item {
      margin-top: $layout-tight;
      padding-left: $layout-tight;
    }

    * + & {
      margin-top: $layout-large - $layout-tight;
    }
  }

  &.grid--base-spacing {
    margin-left: -$layout-base;
    margin-top: -$layout-base;

    > .grid__item {
      margin-top: $layout-base;
      padding-left: $layout-base;
    }

    * + & {
      margin-top: $layout-large - $layout-base;
    }
  }
  
  &.grid--natural-spacing {
    margin-left: -$layout-medium;
    margin-top: -$layout-medium;

    > .grid__item {
      margin-top: $layout-medium;
      padding-left: $layout-medium;
    }

    * + & {
      margin-top: $layout-large - $layout-medium;
    }
  }
}

/* LIMITING GRID WIDTHS */

> .grid__item {
  .grid--limit-1 & {
      width: $full;
  }

  @include breakpoint-9 {
    .grid--limit-3 & {
      width: $one-third;
    }
  }

  @include breakpoint-11 {
    .grid--limit-2 & {
      width: $half;
    }

    .grid--limit-4 & {
      width: $half;
    }

    .grid--limit-6 & {
      width: $one-third;
    }
  }

  @include breakpoint-15 {
    .grid--limit-2 & {
      width: $half;
    }

    .grid--limit-4 & {
      width: $one-quarter;
    }
  }
}
