/* FORMS */

form, fieldset {
  * + & {
    margin-top: $layout-large;
  }

  & + * {
    margin-top: $layout-large;
  }

  * + {
    & label, & h1, & h2, & h3, & h4, & h5, & h6 {
      margin-top: $layout-large;
    }
  }
}

fieldset {
  border: none;
}

* + legend {
  margin-top: $type-medium;
}

input, label {
  display: block;
  font-size: $type-standard;
}

label {
  & + p {
    margin-top: $layout-tight;
  }
}

input, textarea, select {
  border: 1px solid #888;
  font-family: $base-font-family;
  font-size: 1em;
  margin-top: $type-small;
  padding: $type-small;
  width: 100%;

  & + .small, & + p {
    margin-top: $layout-tight;
  }

  &[type="radio"], &[type="checkbox"] {
    display: inline-block;
    height: $layout-base;
    margin-right: $type-small;
    margin-top: $type-small;
    vertical-align: middle;
    width: $layout-base;

    & + label {
      display: inline-block;
      margin-top: $type-small;
      vertical-align: middle;
    }

    & + p {
      display: inline-block;
      left: 0;
      margin-right: $layout-base;
      margin-top: $type-small;
      vertical-align: middle;
    }
  }
}

option {
  margin-top: 0;
}
