/* HEADER */

.header {
  .container {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  .logo {
    height: $layout-x-large;
  }

  &__menu {
    align-items: center;
    display: none;
    margin-top: 0;

    @include breakpoint-12 {
      display: flex;
    }
  }

  &__menu-button {
    margin-top: 0; /* OWL TURN OFF */
    padding: $type-small;
    width: auto;

    @include breakpoint-12 {
      display: none;
    }
  }

  &__menu-item {
    list-style: none;
    margin-left: 0;
    margin-top: 0;
    padding-left: $type-medium;
  }
}
