/* TEXT LINKS */

a {
  color: $link-text-color;
  font-weight: bold;

  &:visited {
    color: $link-visited-text-color;
  }

  &:hover {
    color: $link-hover-text-color;
  }

  &:active {
    color: $link-active-text-color;
  }
}


/* BUTTONS */

button {
  background: none;
  font-size: $type-standard;
}

.btn, button {
  border: 0.2em solid;
  border-radius: 0.5em;
  display: block;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  padding: $type-small;
  width: 100%;

  &:hover {
    cursor: pointer;
  }

  &--primary {
    background: $link-text-color;
    border-color: $link-text-color;
    color: $base-background-color;

    &:visited {
      background: $link-visited-text-color;
      border-color: $link-visited-text-color;
      color: $base-background-color;
    }

    &:hover {
      background: $link-hover-text-color;
      border-color: $link-hover-text-color;
      color: $base-background-color;
    }

    &:active {
      background: $link-active-text-color;
      border-color: $link-active-text-color;
      color: $base-background-color;
    }
  }

  &--secondary {
    color: $link-text-color;

    &:visited {
      color: $link-visited-text-color;
    }

    &:hover {
      background: $link-hover-text-color;
      border-color: $link-hover-text-color;
      color: $base-background-color;
      cursor: pointer;
    }

    &:active {
      background: $link-active-text-color;
      border-color: $link-active-text-color;
    }
  }

  @include breakpoint-3 {
    padding: $type-small $type-medium;
  }

  @include natural-spacing {
    display: inline-block;
    width: auto;
  }

  form & {
    margin-top: $type-large;
  }
}
