/* LISTS */

ul {
  margin-left: 0;
  padding-left: 0;
}

li {
  list-style: disc;
  margin-left: $type-medium;
  padding-left: 0;

  * + & {
    margin-top: 0;
  }

  & + li {
    margin-top: $type-small;
  }
}
