/* SUB-NAV */

.sub-nav {
  @include standard-border;

  &__item {
    display: none;
    list-style: none;
    margin-left: 0;
    margin-top: 0;

    @include breakpoint-12 {
      display: block;
    }
  }

  &__link {
    align-items: center;
    display: flex;
    justify-content: space-between;

    @include standard-border;
    padding: $type-standard;

    @include natural-spacing {
      padding: $type-standard $type-medium;
    }

    @include loose-spacing {
      padding: $type-medium $type-large;
    }
  }

  &__parent {
    display: none;

    @include breakpoint-12 {
      display: block;
    }

    a {
      @include standard-border;
      font-weight: bold;
      font-size: $type-medium;
      padding: $type-small;

      @include natural-spacing {
        padding: $type-standard;
      }

      @include loose-spacing {
        padding: $type-standard $type-medium;
      }

      @include supersized-spacing {
        padding: $type-medium;
      }
    }
  }

  &__parent-icon {
    height: $type-small;
  }

  &__child-list {
    margin-top: 0;
  }

  &__child {
    a {
      padding-left: $type-large;

      @include natural-spacing {
        padding-left: $type-medium+$type-medium;
      }

      @include loose-spacing {
        padding-left: $type-large+$type-large;
      }
    }
  }

  &__current {
    display: block;

    .sub-nav__item {
      display: block;
    }

    > .sub-nav__link {
      background: #eee;
    }
  }
}
