/* LAYOUT BASICS */

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

/* CONTAINER */

.container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  max-width: $ratio * 80rem;
  padding: $layout-x-large $layout-base;
  position: relative;
}

.section:not(.section--separated) + .section:not(.section--separated) {
  > .container {
    padding-top: 0;
  }
}


/* SECTIONS */

.section {
  margin-top: 0;
}


/* BLOCKS */

.block {
  display: block;
  text-decoration: none;

  p {
    font-weight: normal;
  }

  * + & {
    margin-top: $layout-large;
  }

  & + * {
    margin-top: $layout-large;
  }

  .container {
    padding-bottom: $layout-large;
    padding-top: $layout-large;
  }

  &--card {
    .container {
      padding-bottom: $layout-base;
      padding-top: $layout-base;
    }
  }
}
