/* LAYOUT EXPANSION */
/* A crucial stylesheet. This Governs our increasing sizing and spacing for larger browser/device sizes. */

/* NATURAL SPACING: Comes in regardless of any added classes */

@include natural-spacing {
  .container {
    padding-left: $layout-medium;
    padding-right: $layout-medium;
  }

  .block--card {
    .container {
      padding-bottom: $layout-medium;
      padding-top: $layout-medium;
    }
  }
}


/* LOOSE SPACING: Comes in regardless of any added classes */

@include loose-spacing {

  .container {
    padding-left: $layout-large;
    padding-right: $layout-large;
  }

  .grid {
    margin-left: -$layout-large;

    > .grid__item {
      padding-left: $layout-large;
    }
  }

  .block {
    .container {
      padding-bottom: $layout-large;
      padding-top: $layout-large;
    }
  }
}


/* LUXURY SPACING: Triggered by optional classes */

@include luxury-spacing {

  .section {
    > .container {
      padding-left: $layout-x-large;
      padding-right: $layout-x-large;
    }
  }

  .grid {
    &--luxury-spacing, &--oversized-spacing, &--supersized-spacing {
      margin-left: -$layout-x-large;
      margin-top: -$layout-x-large;

      & + * {
        margin-top: $layout-x-large;
      }

      > .grid__item {
        margin-top: $layout-x-large;
        padding-left: $layout-x-large;
      }
    }
  }

  * + .grid {
    margin-top: 0;
  }

  .block {
    &--luxury-spacing, &--oversized-spacing, &--supersized-spacing {
      > .container {
        padding: $layout-x-large;
      }
    }
  }
}


/* A MORE RELAXED BASE VERTICAL RHYTHM FOR LARGER SCREEN SIZES */

@include breakpoint-16 {
  * + * {
    margin-top: $layout-medium;
  }

  .grid__item {
    fieldset & {
      margin-top: $layout-medium;
    }
  }
}


/* OVERSIZED SPACING: Triggered by optional classes */

@include oversized-spacing {

  .section {
    > .container {
      padding-left: $layout-xx-large;
      padding-right: $layout-xx-large;
    }

    &--oversized-spacing, &--supersized-spacing {
      > .container {
        padding-bottom: $layout-xx-large;
        padding-top: $layout-xx-large;

        > .block {
          * + & {
            margin-top: $layout-x-large;
          }

          & + * {
            margin-top: $layout-x-large;
          }
        }
      }
    }
  }

  .grid {
    &--oversized-spacing, &--supersized-spacing {
      margin-left: -$layout-xx-large;
      margin-top: -$layout-xx-large;

      & + * {
        margin-top: $layout-xx-large;
      }

      > .grid__item {
        margin-top: $layout-xx-large;
        padding-left: $layout-xx-large;
      }
    }
  }

  * + .grid {
    margin-top: 0;
  }

  .block {
    &--oversized-spacing, &--supersized-spacing {
      > .container {
        padding: $layout-xx-large;

        > .block {
          * + & {
            margin-top: $layout-x-large;
          }

          & + * {
            margin-top: $layout-x-large;
          }
        }
      }
    }
  }
}


/* SUPERSIZED SCALING: Triggered by optional classes */

@include supersized-spacing {

  .section {
    > .container {
      padding-left: $layout-xxx-large;
      padding-right: $layout-xxx-large;
    }

    &--supersized-spacing {
      > .container {
        padding-bottom: $layout-xxx-large;
        padding-top: $layout-xxx-large;

        > .block {
          * + & {
            margin-top: $layout-xx-large;
          }

          & + * {
            margin-top: $layout-xx-large;
          }
        }
      }
    }
  }

  .grid {
    &--supersized-spacing {
      margin-left: -$layout-xxx-large;
      margin-top: -$layout-xxx-large;

      & + * {
        margin-top: $layout-xxx-large;
      }

      > .grid__item {
        margin-top: $layout-xxx-large;
        padding-left: $layout-xxx-large;
      }
    }
  }

  * + .grid {
    margin-top: 0;
  }

  .block {
    &--supersized-spacing {
      > .container {
        padding: $layout-xxx-large;

        > .block {
          * + & {
            margin-top: $layout-xx-large;
          }

          & + * {
            margin-top: $layout-xx-large;
          }
        }
      }
    }
  }
}
