/* THEME BASICS: Basic styling that we'll need in all projects */

/* BASIC THEME DEPLOY */

html {
  font-family: $base-font-family;
}

body {
  background: $base-background-color;
  color: $base-text-color;
}

h1, h2, h3, h4, h5, h6, label, legend {
  color: $heading-text-color;
  font-family: $heading-font-family;
  font-weight: bold;
}

/* INSTRUCTIONAL HIGLIGHTING */

.text--highlight {
  color: green !important;
}

.structure--highlight {
  outline: 1px solid green !important;
}
