/* THEME BASICS: Basic styling that we'll need in all projects */
/* VARIABLES: Variables can be adjusted project-by-project */


/* FONT FAMILIES */

$base-font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$heading-font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;


/* BRAND COLOURS */

$brand1: #F7931E; /* orange */
$brand2: #8B032C; /* red */
$brand3: #FEC133; /* yellow */
/* etc. */


/* GENERAL COLOR */

$base-background-color: #fff;

$base-text-color: #333;
$heading-text-color: #333;

$link-text-color: blue;
$link-visited-text-color: purple;
$link-hover-text-color: green;
$link-active-text-color: red;


/* BASIC THEME DEPLOY */

html {
  font-family: $base-font-family;
}

body {
  background: $base-background-color;
  color: $base-text-color;
}

h1, h2, h3, h4, h5, h6, label, legend {
  color: $heading-text-color;
  font-family: $heading-font-family;
  font-weight: bold;
}


/* SHADING */

@mixin standard-shadow {
  box-shadow: 0 0 $small rgba($base-text-color,0.1);
}


/* BORDER STYLE */

@mixin standard-border {
  border: 1px dashed #aaa;
}


/* INSTRUCTIONAL HIGLIGHTING */

.text--highlight {
  color: green !important;
}

.structure--highlight {
  border: 0.2em solid green !important;
}
