/*
 * THE RATIO
 * This all-important number sets your base line-height.
 * But it also sets the multiplication factor for modular scale typography, layout sizing increments and pretty much everything else...
 * Try and derive the number from the ideal line-height for your base paragraph text.
 * Generally you'll want to chose a number between 1.4 and 1.6. Have a go with 1.618 if you really want to show off to your design friends.
 * Have a play, but anything lower than ~1.3 you'll start to lose distinction between your different heading levels. Anything higher than ~1.7 and your layout will scale too much.
 */

$ratio: 1.5;


/* LAYOUT SIZING */
/* Root spacing - only affected by html font size */

$layout-base: 1rem;

$layout-medium: $ratio * $layout-base;
$layout-large: $ratio * $layout-medium;
$layout-x-large: $ratio * $layout-large;
$layout-xx-large: $ratio * $layout-x-large;
$layout-xxx-large: $ratio * $layout-xx-large;

$layout-tight: $layout-base / $ratio;


/* TYPOGRAPHY SIZING */
/* Relative spacing - can inherit local parent or element font size */

$type-standard: 1em;

$type-medium: $ratio * $type-standard;
$type-large: $ratio * $type-medium;
$type-x-large: $ratio * $type-large;
$type-xx-large: $ratio * $type-x-large;
$type-xxx-large: $ratio * $type-xx-large;

$type-small: $type-standard / $ratio;
