/* VARIABLES: Variables can be adjusted project-by-project */


/* FONT FAMILIES */

$base-font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !default;
$heading-font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;


/* BRAND COLOURS */

$brand1: #F7931E; /* orange */
$brand2: #8B032C; /* red */
$brand3: #FEC133; /* yellow */
/* etc. */


/* GENERAL COLOR */

$base-background-color: #fff;

$base-text-color: #333;
$heading-text-color: #333;

$link-text-color: blue;
$link-visited-text-color: purple;
$link-hover-text-color: green;
$link-active-text-color: red;
